<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dots and Boxes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.1/dist/confetti.browser.min.js"></script>
    <script>
        var gridWidth = {{ grid_width }};
        var gridHeight = {{ grid_height }};
    </script>
</head>
<body>
    <div id="game-container">
        <div id="game-info">
            <h2 id="turn">Turn: <span></span></h2>
            <div id="scores"></div>
        </div>
        <div id="grid-container">
            <div id="gameBoard" data-width="{{ grid_width }}" data-height="{{ grid_height }}"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
